.error {
  color: red;
  display: block;
  font-size: 14px;
  margin-left: 5px;
}

.main {
  padding: 10px 0;
  background-color: #00000083;
  max-width: 600px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
  gap: 20px;
}

.label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  color: #fff;
}

.labelSpan {
  flex: 0 1 200px;
}

.input {
  max-width: 100%;
  padding: 10px 15px;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  border: 1px solid #000;
  border-radius: 10px;
}

.input::placeholder {
  color: #d8d8d8;
}

.inputWrapper {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
}

.submitBtn {
  background-color: #ffffffbb;
  border: 1px solid #fff;
  font-size: inherit;
  font-family: inherit;
  color: #000;
  padding: 15px 5px;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #fff;
}

.loginBtn {
  color: #fff;
  text-align: center;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}
