.header {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px;

    display: flex;
    gap: 20px;
}

.link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color: antiquewhite;
}